#testimonial {
    background: #20262E;
    padding: 10px;
    font-family: Helvetica;
}

.testimonialFig {
    margin: 0;
    padding: 0;
    position: relative;
}

.testimonialFig::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.testimonialFig > iframe {
    position: absolute;
    left: 0;
    top: 0;
}


#app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 100vw;
  
    @media (min-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  