#MainRoot{
    padding: 3rem;
    background-color: #fff;
}

.slick-prev {
    left: -40px;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px;
}

#MainHead{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 3rem;
}
@media only screen and (max-width:1000px) {
    #but{
        margin-left: 25%;
        margin-top: 10px;
    }
}
