.heading-chana{
    background-color: #7b75ac;
    margin-top: 145px;
    
}
.chana{
    margin-left: 50px;
    color: white;
    padding: 10px;
}
.breadcrumb{
    margin-left: 50px;
    padding: 10px;
}