.body{
    margin:0px;
    padding: 0px;
}
div .ima{
   width: 200px;
   height: 100px;
   
}
#ce{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: auto;
}
#CH {
    margin-right: 0;
}