.containe{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 20px;
}
#MainSection {
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.heatmapboxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}
.heatmapbox{
    flex: 0 0 calc(33.33% - 20px);
    
    width: 100%;
    background: linear-gradient(90deg,#f0ecec, #bebfc5);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    
    box-shadow: 2px 2px 2px 2px black;
    margin: 10px 10px;
    display: flex;
    
}

.SmallContainer{
    display: flex;
        justify-content: space-between;
       
}
@media only screen and (max-width:800px){
    .cards{
        flex-direction: column;
    }
}
