#HomeChart{
    height: 450px;
    min-width: 50%;
    margin: auto;
}
#ProductContainer{
    margin: 50px;
}

#container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #fff;
    padding-bottom: 5rem;
}

#Hometable {
    min-width: 50%;
    padding: 0 2rem 0;
}

#GUA{
    height: 150px;
    width: 250px;
}
#TgTl{
    display: flex;
    justify-content: center;
    min-width: 100px;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 3rem;
    border-radius: 6px;
    background-color: #fff;
}
#FOICH{

    color: black;
}

#FOICH:hover {
    color: white;
}

#TglButton{
    height: 48px;
    width: 286px;
    font-weight: 600;
}
#TLbutton{
    height: 48px ;
    width: 286px;
    color: black;
    font-weight: 600;
}
@media only screen and (max-width:1000px){
    #container{
        flex-direction: column;
    }
}