@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Mountains+of+Christmas&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.topNav {
  font-family: 'Righteous', cursive;
}


.nav-header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 1rem 0;
  top: 0;
  background: #fff;
}

.nav-header .top_nav{
  /* margin-top: 5px; */
  width: 100%;
  height: auto;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header .top_nav .left{
  display: flex;
  align-items: center;
}

.nav-header .top_nav .left .logo p{
  font-size: 24px;
  font-weight: bold;
  color: #494949;
  /* font-family: "Mountains of Christmas", cursive; */
  font-family: 'Righteous', cursive;
  margin-right: 25px;
}

.nav-header .top_nav .left .logo p span{
  color: #37a000;
  /* font-family: "Mountains of Christmas", cursive; */
  font-family: 'Righteous', cursive;
}

.nav-header .top_nav .left .search_bar input[type="text"]{
  border: 1px solid #666666;
  padding: 5px 10px; 
  outline: none;
  transition: all 0.5s linear;
}

.nav-header .top_nav .left .search_bar input[type="text"]:focus{
  width: 250px;
}

.nav-header .top_nav .right ul{
  display: flex;
}

.nav-header .top_nav .right ul li{
  margin: 0 12px;
}
/* 
.nav-header .top_nav .right ul li:last-child{
  background:  #37a000;
  margin-right: 0;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
 */
/* .nav-header .top_nav .right ul li:hover:last-child{
  background: #494949;
}
 */
.nav-header .top_nav .right ul li a{
  text-decoration: none;
  display: block;
  padding: 8px 10px;
  color: #666666;
}
/* 
.nav-header .top_nav .right ul li:last-child a{
   color: #fff;
}
 */
.nav-header .bottom_nav{
  width: 100%;
  /* background: #f9f9f9; */
  height: 45px;
  padding: 0 10px;
}

.nav-header .bottom_nav ul{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header .bottom_nav ul li a{
  text-decoration: none;
  color: #494949;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

.nav-header .banner img{
  width: 100%;
  height: 400px;
}
